<ion-view view-title="Market Monitor">
	<ion-nav-buttons side="primary">
    <a class="button button-clear icon ion-gear-a" href="#/settings"></a>
  </ion-nav-buttons>

	<ion-content>
		<h2 class="padding-top no-margin-bottom text-center">{{date | date:'hh:mm:ss a'}}</h2>
		<h3 class="no-margin-top text-center">{{date | date:'EEEE, d MMMM, yyyy'}}</h3>
		<ion-list>
			<ion-item collection-repeat="market in markets | filter:marketEnabled | orderBy:'-localMoment.hours()'" class="short-item item-thumbnail-left">
				<img class="flag-icon" ng-src="img/country-flags/{{market.flag_name}}.png">
				<h2 class="float-right">{{market.localMoment.format('H:mm')}}</h2>
				<h2>{{market.name}}</h2>
				<p class="float-right light">{{market.localMoment.format('ddd')}}</p>
				<p>{{market.state}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>