.flag-icon {
	top: 2.5px !important;
}
.short-item {
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 84px;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-margin-top {
	margin-top: 0;
}
.float-right {
	float: right;
}